// Fonts
@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.eot');
      src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
           url($font-file+'.woff') format('woff'),
           url($font-file+'.ttf') format('truetype'),
           url($font-file+'.svg#'+$font-family) format('svg');
      font-weight: normal;
      font-style: normal;
    }
  }


@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
@include font('RetroLight', '/fonts/Retrolight');


// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar{
    background-color: $dark-v2;
    box-shadow: $nav-shadow;
}

.nav-link{
    color: green!important;
    font-size:1.2em!important;
    :active{
        color: $green-v1!important;;
    }
    :hover{
        color: $light-green!important;;
    }
}

body{
    color: $green-v1;
    font-family: 'Prompt', sans-serif;
}
h1, h2 ,h3 ,h4 ,h6{
    text-shadow: $regular-text-shadow;
}


.logo{
    position: relative;
    display:flex;
    padding:5em;
    padding-bottom:0;
    justify-content: center;
    max-width:900px;
    h1{
        font-size:6em;
        font-family: 'RetroLight';
        letter-spacing: 0.1em;
        -webkit-animation: ledblip 1s linear infinite;
        animation: ledblip 1s linear infinite;
        white-space: nowrap;
        padding: 0.1em 0.5em;
        border-radius:1em;
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    .small{
        font-size:2.5em;
    }
}
.logo-blocker{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:1;
}
.slogan{
    display:flex;
    padding:0 1em 6em 1em;
    justify-content: center;
    max-width:900px;
    span{
        font-family: 'IBM Plex Mono', monospace;
        font-size:2em;
        text-shadow: $text-shadow;
    } 
}

.content-wrapper{
    padding:3em;
    border-radius: $border-radius;
    background-color: $dark-v2;
    -webkit-animation: breathing 6s linear infinite;
    animation: breathing 6s linear infinite;
}

.content-wrapper-blank{
    padding:3em;
    border-radius: $border-radius;
    background-color: $dark-v2;
    -webkit-animation: breathing 6s linear infinite;
    animation: breathing 6s linear infinite;
}


@-webkit-keyframes breathing {
    0% {
        box-shadow:0 0 12px 0px rgb(255,255,255, 0.5), 0 0 12px 2px green;
    }
    25% {
        box-shadow:0 0 12px 3px rgb(255,255,255, 0.5), 0 0 12px 5px green;
    }
    50% {
        box-shadow:0 0 12px 6px rgb(255,255,255, 0.5), 0 0 12px 6px green;
    }
    75% {
        box-shadow:0 0 12px 3px rgb(255,255,255, 0.5), 0 0 12px 5px green;
    }
    100% {
        box-shadow:0 0 12px 0px rgb(255,255,255, 0.5), 0 0 12px 2px green;
    }
  }
  
  @keyframes breathing {
    0% {
        box-shadow:0 0 12px 0px rgb(255,255,255, 0.5), 0 0 12px 2px green;
    }
    25% {
        box-shadow:0 0 12px 3px rgb(255,255,255, 0.5), 0 0 12px 5px green;
    }
    50% {
        box-shadow:0 0 12px 6px rgb(255,255,255, 0.5), 0 0 12px 6px green;
    }
    75% {
        box-shadow:0 0 12px 3px rgb(255,255,255, 0.5), 0 0 12px 5px green;
    }
    100% {
        box-shadow:0 0 12px 0px rgb(255,255,255, 0.5), 0 0 12px 2px green;
    }
  }


  @-webkit-keyframes ledblip {
    0% {
        text-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
    }
    5% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    10% {
        text-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
    }
    15% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    20% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    25% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    30% {
        text-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
    }
    35% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    40% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    45% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    50% {
        text-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
    }
    55% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    60% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    65% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    70% {
        text-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
    }
    75% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    80% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    85% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    90% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    100% {
        text-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
    }
  }
  
  @keyframes ledblip {
    0% {
        text-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
    }
    5% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    10% {
        text-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
    }
    15% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    20% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    25% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    30% {
        text-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
    }
    35% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    40% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    45% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    50% {
        text-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
    }
    55% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    60% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    65% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    70% {
        text-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.4), 0px 0px 20px rgb(22, 100, 8);
    }
    75% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    80% {
        text-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.5), 0px 0px 25px rgb(22, 100, 8);
    }
    85% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    90% {
        text-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 25px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0.3), 0px 0px 20px rgb(22, 100, 8);
    }
    100% {
        text-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
        box-shadow:0 0 6px rgb(255,255,255, 0), 0px 0px 20px rgb(22, 100, 8);
    }
  }

footer{
    width:100%;
    padding:1.5em;
    box-shadow: $footer-shadow;
    margin-top:4em;
    text-align:center;
}

.carousel{
    margin:-3em;
    margin-bottom:0;
    border-radius:6px;
    overflow:hidden;
    min-height:600px;
}

.big-card{
    box-shadow: $card-shadow;
    flex:0 0 47%;
    padding-left:0;
    transition:all 0.5s;
    &:hover{
        box-shadow: $card-shadow-hover;
        transition:all 0.4s;
    }
    .price-text{
        font-size: 1.2em;
        display: block;
        text-align: center;
        height: 2.3em;
        line-height: 2.3em;
        margin-right:0.3em;
        padding: 0 1em;
        border: thin solid #198754;
        border-radius: $border-radius;
    }
    .card-body {
        flex-direction: column;
        height: 100%;
        display: flex;
        .card-text {
            flex-grow: inherit;
        }
    }
}
.regular-card{
    flex:0 0 22%;
    box-shadow: $card-shadow;
    display:flex;
    margin-bottom:2em;
    margin-right:2em;
    padding:0;
    transition:all 0.5s;
    &:hover{
        box-shadow: $card-shadow-hover;
        transition:all 0.3s;
    }
    .price-text{
        font-size: 1em;
        display: block;
        text-align: center;
        height: 2.3em;
        line-height: 2.3em;
        margin-right:0.3em;
        padding: 0 1em;
        border: thin solid #198754;
        border-radius: $border-radius;
    }
    .card-img{
        border-radius: $border-radius;
    }
}
.section{
    margin-top:3em;
}
.card-container{
    margin-bottom:3em;
}

.navbar{
    padding:0;
    .nav-item{
        .nav-link{ 
            width:100px;
            height:100%;
            padding:1em;
            text-align: center;
            transition:all 0.5s;
            border: thin solid transparent;
            &:hover{
                border-bottom: thin solid green;
                transition:all 0.3s;
            }
        }
        .cart{
            font-size:1.2em;
        }
        .cart-dropdown{
            background-color:$dark-v2;
            color:$green-v1;
            box-shadow: $card-shadow;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            .cart-container{
                .cart-card{
                    width:300px;
                    display:flex;
                    padding:0em;
                    margin-bottom:1em;
                    height: 95px;
                    overflow: hidden;
                    border-top: 0.2em solid $green-v1;
                    border-bottom: 0.2em solid $green-v1;
                    .btn-delete{
                        background: transparent;
                        color: $blood-red;
                        border: none;
                        border-left: thin solid $blood-red;
                        transition: all 0.7s;
                        box-shadow:none;
                        &:hover{
                            box-shadow: -1px 0px 3px 0px rgba(255, 255, 255, 0.2), 0px 0px 12px 0px $blood-red;
                            transition: all 0.5s;
                        }

                    }
                    .cart-item-image{
                        flex: 0 0 32%;
                    }
                    .cart-item-body{
                        padding: 0.7em 1em;
                    }
                    .cart-item-header, .cart-item-quantity, .cart-item-price{
                        flex:1 1 auto;
                        display:flex;
                        font-size:1.2em;
                        color: $default-white;
                    }
                    .cart-item-quantity{
                        font-size:0.8em;
                    }
                    .cart-item-price{
                        color: $green-v2;
                        justify-content: end;
                        i{
                            margin-top: 0.2em;
                            margin-left: 0.3em;
                        }
                    }
                }
                .cart-button{
                    padding: 1em 1.5em;
                }
                .cart-header{
                    padding:0.5em 1em;
                }
            }
        }
    }
    .dropdown-menu[data-bs-popper]{
        right:0;
        left:unset;
    }
}

.cart-container-main{
    min-width:600px;
    .cart-card{
        display:flex;
        padding:0em;
        margin-bottom:1em;
        height: auto;
        overflow: hidden;
        border-top: 0.2em solid $green-v1;
        border-bottom: 0.2em solid $green-v1;
        .btn-delete{
            background: transparent;
            color: $blood-red;
            border: none;
            border-left: thin solid $blood-red;
            transition: all 0.7s;
            box-shadow:none;
            &:hover{
                box-shadow: -1px 0px 3px 0px rgba(255, 255, 255, 0.2), 0px 0px 12px 0px $blood-red;
                transition: all 0.5s;
            }

        }
        .cart-item-image{
            flex: 0 0 32%;
        }
        .cart-item-body{
            padding: 0.7em 1em;
        }
        .cart-item-header, .cart-item-quantity, .cart-item-price{
            flex:1 1 auto;
            display:flex;
            font-size:1.5em;
            color: $default-white;
        }
        .cart-item-quantity{
            font-size:1em;
        }
        .cart-item-price{
            color: $green-v2;
            justify-content: end;
            i{
                margin-top: 0.2em;
                margin-left: 0.3em;
            }
        }
    }
    .cart-button{
        padding: 1em 1.5em;
    }
    .cart-header{
        padding:0.5em 1em;
    }
}

.input-group{
    box-shadow:$card-shadow;
    padding:0;
    border-radius: $border-radius;
    .form-control{
        border: none;
        background-color: transparent;
        color: $green-v1;
        transition:all 0.5s;
        padding-left:0.5em;
        &:focus{
            outline:none;
            background-color: transparent;
            box-shadow:none;
            transition:all 0.5s;
            color: $green-v1;
        }
    }
    .input-group-text{
        color:$green-v1;
        background-color: transparent;
        border:none;
        padding-right:0;
    }
}
.btn-custom{
    border:none;
    background:transparent;
    box-shadow:$card-shadow;
    border-radius: $border-radius;
    color: $green-v1;
    &:hover{
        box-shadow:$card-shadow-hover;
        color: $green-v2;
    }
}
.switch-container{
    padding: 0;
    box-shadow:$card-shadow;
    border-radius:$border-radius;
    max-width:230px;
    .switch-link{
        padding:1.5em 1em;
        background-color: transparent;
        color: $green-v1;
        font-size:1em;
        text-align:center;
        border-radius:$border-radius;
        border: 0.3em double transparent;
        flex: 0 0 50%;
        text-decoration: none;
        transition:all 0.5s;
    }
    .active{
        border:0.3em double #ebebeb77;
        color: #ebebeb;
        transition:all 0.5s;
    }
}
.text-align-end{
    text-align: end;
}

a{
    color: $green-v1;
    transition: all 0.5s;
    text-shadow:$regular-text-shadow;
    &:hover{
        color: $green-v2;
        transition: all 0.3s;
    }
}
.form-check-input{
    background-color: transparent;
    border:none;
    box-shadow:$check-shadow;
    transition:all 0.3s;
    &:checked{
        outline:none;
        background-color:$green-v1;
        border-color:$green-v1;
        box-shadow:$check-shadow-hover;
        transition:all 0.3s;
    }
    &:focus{
        outline:none;
        box-shadow:$check-shadow-hover!important;
        transition:all 0.3s;
    }
}
.underline-none{
    text-decoration: none;
}
.terminal-container#hack{
    position: relative;
    background: rgba(46,48,57,0.9);
    position: absolute;
    width:100%;
    height:100%;
    padding:1.2em 0.5em 1.2em 1.2em;
    left:0;
    top:0;
    z-index:1;
    font-size:1em;
    li{
        list-style: none;
        &:first-child{
            font-size:1.2em;
        }
    }
}
.login-form{
    .alert{
        margin-top: 2em;
        font-size:1em;
        box-shadow:$danger-shadow;
        color: $red;
        padding:0em;
        width:100%;
        max-height:0%;
        transition:all 0.3s;
        display:none;
    }
}